name: Build and Release

on:
  push:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0

      - name: Restore
        run: dotnet restore

      - name: Publish Linux
        run: >
          dotnet publish SLText.View/SLText.View.csproj 
          -c Release 
          -r linux-x64 
          --self-contained true 
          -p:PublishSingleFile=true 
          -p:IncludeNativeLibrariesForSelfExtract=true 
          -p:IncludeAllContentForSelfExtract=true 
          -p:EnableCompressionInSingleFile=false 
          -o ./publish/linux
          
      - name: Create .DEB Package
        run: |
          VERSION="0.${{ github.run_number }}"
          mkdir -p sltext-deb/DEBIAN
          mkdir -p sltext-deb/usr/bin
          mkdir -p sltext-deb/usr/share/applications
          mkdir -p sltext-deb/usr/share/icons/hicolor/256x256/apps
          mkdir -p sltext-deb/usr/share/metainfo
          
          cp -r ./publish/linux/* sltext-deb/usr/bin/

          if [ -f "sltext-deb/usr/bin/SLText" ]; then
              mv sltext-deb/usr/bin/SLText sltext-deb/usr/bin/sltext
          fi

          chmod +x sltext-deb/usr/bin/sltext

          cp SLText.View/Assets/icon.png sltext-deb/usr/share/icons/hicolor/256x256/apps/sltext.png
          
          cp sltext.metainfo.xml sltext-deb/usr/share/metainfo/sltext.metainfo.xml

          cat <<EOT > sltext-deb/usr/share/applications/sltext.desktop
          [Desktop Entry]
          Name=SLText
          Exec=/usr/bin/sltext %f
          Icon=sltext
          Type=Application
          Categories=Development;TextEditor;
          MimeType=text/plain;
          Terminal=false
          EOT

          cat <<EOT > sltext-deb/DEBIAN/control
          Package: sltext
          Version: $VERSION
          Section: utils
          Priority: optional
          Architecture: amd64
          Depends: libglfw3, libgl1, libgles2, libx11-6, libxcursor1, libxi6, libxinerama1, libxrandr2, xclip, xsel, libfontconfig1
          Maintainer: LucasSantanna <lucassantanna1995@gmail.com>
          Description: SLText Moderno com SkiaSharp C#.
          EOT

          dpkg-deb --build sltext-deb "SLText_${VERSION}_Linux_x64.deb"

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-deb
          path: "*.deb"

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0

      - name: Restore
        run: dotnet restore

      - name: Publish Windows
        run: dotnet publish SLText.View/SLText.View.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -o ./publish/win

      - name: Compile Inno Setup
        shell: pwsh
        run: |
          iscc ./Installer/setup.iss /DAppVersion=0.${{ github.run_number }} /F"SLText_0.${{ github.run_number }}_Windows_x64"

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-exe
          path: ./Installer/Output/*.exe

  release:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v0.${{ github.run_number }}
          generate_release_notes: true
          files: |
            linux-deb/*.deb
            windows-exe/*.exe